div {
  position: absolute; 
}

#diez_de_diamantes {
  top: 100px;
  left: 50px;
  z-index: 1; 
}

#sota_de_diamantes {
  top: 130px;
  left: 80px;
  z-index: 2; 
}

#reina_de_diamantes {
  top: 160px;
  left: 110px;
  z-index: 3; 
}

#rey_de_diamantes {
  top: 190px;
  left: 140px;
  z-index: 4; 
}

#as_de_diamantes {
  top: 220px;
  left: 170px;
  z-index: 5; 
}